openapi: 3.1.0
info:
  title: ReadGZH API
  description: |
    读取微信公众号文章的 API。提供文章抓取、缓存读取和搜索功能。
    
    ## 认证方式
    使用 API Key 认证，在请求头中添加 `Authorization: Bearer sk_live_your_key`。
    前往 https://readgzh.site/dashboard 注册并获取免费 API Key。
    
    ## 积分计费
    - 简单文章（纯文字，< 5 张图）：1 积分
    - 复杂文章（≥ 5 张图或图片模板）：2 积分
    - 已缓存文章的读取：免费
    - 免费用户每日可领取 50 积分
  version: 1.0.0
  contact:
    url: https://readgzh.site
servers:
  - url: https://api.readgzh.site
    description: Production API
paths:
  /rd:
    get:
      operationId: readgzh.read
      summary: 通过 ReadGZH 抓取并读取微信公众号文章
      description: |
        提供微信文章 URL，返回提取的文章内容（HTML 格式）。
        如果文章已缓存，自动重定向到缓存版本（不消耗积分）。
        如果是新文章，会先抓取并缓存，然后返回内容。
      parameters:
        - name: url
          in: query
          required: true
          description: 微信公众号文章链接（mp.weixin.qq.com）
          schema:
            type: string
            example: https://mp.weixin.qq.com/s/example
        - name: key
          in: query
          required: false
          description: API Key（sk_live_...），适用于无法发送 Authorization Header 的 AI Agent 环境
          schema:
            type: string
            example: sk_live_your_key
      responses:
        '200':
          description: 成功返回文章内容（HTML 格式）
          headers:
            X-Credit-Cost:
              description: 本次请求消耗的积分数
              schema:
                type: integer
            X-Credits-Remaining:
              description: 今日剩余积分数
              schema:
                type: integer
            X-Total-Parts:
              description: 文章总分块数（长文时返回）
              schema:
                type: integer
            X-Current-Part:
              description: 当前分块编号（长文时返回）
              schema:
                type: integer
          content:
            text/html:
              schema:
                type: string
                description: 包含文章标题、作者、正文的完整 HTML 页面
        '402':
          description: 积分不足
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientCreditsError'
        '429':
          description: 请求频率过高
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    head:
      operationId: readgzh.check
      summary: 检查 ReadGZH API 可用性
      description: 返回 200 OK，用于 AI Agent 预检链接
      responses:
        '200':
          description: API 在线
  /rd?s={slug}:
    get:
      operationId: readgzh.get
      summary: 通过 ReadGZH 按 slug 读取已缓存的文章
      description: |
        读取已缓存文章的内容，不消耗积分。
        长文章会自动分块（每块约 40KB），可通过 part 参数指定读取的分块。
        响应头 X-Total-Parts 和 X-Current-Part 指示总块数和当前块。
        添加 mode=summary 参数可获取 AI 生成的结构化摘要（JSON 格式）。
      parameters:
        - name: s
          in: query
          required: true
          description: 文章的短标识符（slug）
          schema:
            type: string
            example: minicpm-o-4-5
        - name: part
          in: query
          required: false
          description: 分块编号（从 1 开始），用于分段读取长文章
          schema:
            type: integer
            minimum: 1
            example: 1
        - name: mode
          in: query
          required: false
          description: 设为 summary 时返回 AI 生成的结构化摘要（JSON），而非完整 HTML
          schema:
            type: string
            enum: [summary]
      responses:
        '200':
          description: 文章 HTML 内容或 JSON 摘要（取决于 mode 参数）
          headers:
            X-Total-Parts:
              description: 文章总分块数
              schema:
                type: integer
            X-Current-Part:
              description: 当前分块编号
              schema:
                type: integer
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryResponse'
        '404':
          description: 文章未找到
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API Key 认证。前往 https://readgzh.site/dashboard 获取免费 Key。
        格式：`Authorization: Bearer sk_live_your_key`
        
        **备选方案**：如果 HTTP Header 被代理剥离，可使用 URL 参数：`?key=sk_live_your_key`
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: rate_limit_exceeded
        message:
          type: string
          example: 请求过于频繁，每天限制 10 次调用
166:         hint:
167:           type: string
168:           example: 立即注册：readgzh.site/dashboard — 免费创建 API Key，每日 50 积分
        current:
          type: integer
        limit:
          type: integer
    InsufficientCreditsError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: insufficient_credits
        message:
          type: string
          example: API Key 积分已用完，今日限制 50 积分
        hint:
          type: string
          example: 请到 readgzh.site/dashboard 领取免费积分或升级套餐
        pricing_url:
          type: string
          example: https://readgzh.site/pricing
        dashboard_url:
          type: string
          example: https://readgzh.site/dashboard
        current:
          type: integer
        limit:
          type: integer
    SummaryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        title:
          type: string
        author:
          type: string
        publish_time:
          type: string
        summary:
          type: string
          description: AI 生成的 300-500 字结构化摘要
        content_url:
          type: string
          description: 完整文章的阅读链接
        total_parts:
          type: integer
          description: 完整文章的分块数（用于 ?part=N 分段读取）
        content_length:
          type: integer
          description: 原文内容长度（字符数）
security:
  - BearerAuth: []
